@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');


// @media (max-width:768px){
//     background-image: url('../../assets/crew/background-crew-tablet.jpg');
// }
// @media (max-width: 375px){
//     background-image: url('../../assets/crew/background-crew-mobile.jpg');
// }

.crewMember {
    color: white;
    display: flex;
    padding: 5px 110px 0px 140px;
    position: relative;
    top: 65px;

    @media (max-width:768px) {
        top: 100px;
    }

    @media (max-width: 375px) {
        padding: 5px 110px 0px 15px;


    }

    &__info {
        font-family: 'Bellefair', serif;
        margin-right: 25px;
        @media (max-width: 375px) {
           
        }

        & p {
            font-family: 'Barlow', sans-serif;
            font-size: 18px;
            width: 444px;

            @media (max-width:768px) {
                font-size: 16px;
            }

            @media (max-width: 375px) {
                font-size: 15px;
                width: 290px;
            }
        }

        & h1 {
            font-weight: lighter;
            font-size: 56px;
            margin-bottom: 25px;
            text-transform: uppercase;
            width: 614px;

            @media (max-width:768px) {
                font-size: 40px;
            }

            @media (max-width: 375px) {
                font-size: 24px;
                margin-left: 30px;
            }
        }

        & h4 {
            font-size: 32px;
            font-weight: 100;
            color: #898989;
            margin-bottom: 15px;
            text-transform: uppercase;

            @media (max-width:768px) {
                font-size: 24px;
            }

            @media (max-width: 375px) {
                font-size: 16px;
                margin-left: 65px;
            }
        }

    }

    &__info-h5 {
        display: flex;
        align-items: center;
        margin-bottom: 120px;
        font-family: 'Barlow Condensed', sans-serif;

        @media (max-width:768px) {
            margin-bottom: 15px;
            position: relative;
            right: 105px;
        }

        @media (max-width: 375px) {
            margin-bottom: 320px;
            position: relative;
            right: -112px;
        }

        & span {
            color: #898989;
            font-size: 28px;
            margin-right: 5px;

            @media (max-width:768px) {
                font-size: 20px;
            }

            @media (max-width: 375px) {
                font-size: 16px;
            }
        }

        & h5 {
            font-size: 28px;
            text-transform: uppercase;

            @media (max-width:768px) {
                font-size: 20px;

            }

            @media (max-width: 375px) {
                font-size: 16px;
            }
        }
    }

    &__img-container {

        & img {
            width: 385px;
            height: 565px;

            @media (max-width:768px) {
                position: relative;
                right: 495px;
                top: 313px;
                height: 222px;
                width: 154px;
            }

            @media (max-width: 375px) {
                position: relative;
                right: 585px;
                top: 65px;
            }
        }
    }

}
